body{
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  background-color: rgba(191, 94, 59, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: bold; 
  user-select: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
   -moz-user-select: none;/* Firefox all */
   -ms-user-select: none; 
}

h1{
  color: white;
}

#main-container { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: /* Add this line */
    "step-sequencer-container"
    "drum-parameters"
    "master-effects"
    "transport-controls";
  grid-gap:0.3rem;
  padding: 0.5rem;
  background-color: rgba(242, 225, 140, 1);
  border: 1rem;
  color: #618488;  
  color: rgba(191, 94, 59, 1);
  opacity: 90%;
}


#step-sequencer-container{
  grid-row: 1;
  grid-area: step-sequencer-container;
}


#step-sequencer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.step {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #ffffff;
  border: 2px solid rgba(242, 148, 94, 1);
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  margin: 0;
  outline: none;
  position: relative;
  width: 2rem;
}


.step:checked {
  background-color: rgba(122, 137, 165, 1);
  border-color: #7A7067;
}

.step:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

@keyframes activeColumnAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.activeColumn {
  animation: activeColumnAnimation 0.5s ease-in-out; /* Add this line */
}

#transport-controls{
  grid-row: 4;
  grid-area: transport-controls;
  display: grid;
}

#play-and-stop {
  width: 100%; /* Add this line */
}

#playStopButton {
  cursor: pointer;
  background-color: rgba(122, 137, 165, 1);
  color: white;
  border: none;
  padding: 1rem 1rem;
  width: 100%;
}

#playStopButton:hover {
  background-color: #618488;
}


#parameter-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#master-effects {
  grid-row: 3;
  grid-area: master-effects;

  width: 100%

}

#drum-paramaters {
  grid-row: 2;
  grid-area: drum-parameters;
  width: 100%
  }

.tabs {
  display: flex;
  flex-direction: row;
  color: white;;
  /* width: 100%; */
  
}

.tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 1rem 1rem;
  background-color: rgba(242, 148, 94, 1);
  
}


.tab:hover {
  background-color: #bbb;
}

.tab.active {
  background-color: rgba(122, 137, 165, 1);
  color: white;

}

.input-container {
  display: flex;
  justify-content:space-between;
}

input[type=range] {
  width: 80%; /* Adjust the width as needed */
  transform: translateY(-5px);
}

.tab-content {
  display: grid;
  padding: 1rem;
  grid-auto-rows: auto;
}


input[type=range] {
  -webkit-appearance: none; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}





input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5vw;
  width: 4vw;
  /* border-radius: 0px; */
  background: #ffffff;
  cursor: pointer;
  margin-top: 0vw; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */}


  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  




  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5vw;
    cursor: pointer;
    background:rgba(191, 94, 59, 1);
    border-radius: 1.3px;
  }


  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bbb;
  }
  

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2vw;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #618488;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
