body{
  display: flex;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
  background-color: #BCC5CE;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
}


#main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: /* Add this line */
    "step-sequencer-container"
    "drum-parameters"
    "master-effects"
    "transport-controls";
  grid-gap:0.3rem;
  padding: 0.5rem;
  background-color: #E6DFD9;
  border: 1rem;
  border-color: #BFB3A8;
}


#step-sequencer-container{
  grid-row: 1;
  grid-area: step-sequencer-container;
}


#step-sequencer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}


.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.step {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #BCC5CE;
  border: 2px solid #BFB3A8;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  margin: 0;
  outline: none;
  position: relative;
  width: 2rem;
}


.step:checked {
  background-color: #729599;
  border-color: #7A7067;
}

.step:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

@keyframes activeColumnAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.activeColumn {
  animation: activeColumnAnimation 0.5s ease-in-out; /* Add this line */
}

#transport-controls{
  grid-row: 4;
  /* display: grid; */
  /* align-items: center; */
  /* flex-direction: column; */
  grid-area: transport-controls;
  /* justify-content: space-between; */
  /* padding-bottom: 1rem; */
  display: grid;
  /* padding: 1rem; */
  /* grid-auto-rows: auto; */
}

#play-and-stop {
  width: 100%; /* Add this line */
}

#playStopButton {
  cursor: pointer;
  background-color: #729599;
  color: white;
  border: none;
  padding: 1rem 1rem;
  width: 100%;
}

#playStopButton:hover {
  background-color: #618488;
}


#parameter-controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#master-effects {
  grid-row: 3;
  grid-area: master-effects;
  background-color: #BFB3A8;
  width: 100%

}

#drum-paramaters {
  grid-row: 2;
  background-color: #BFB3A8;
  grid-area: drum-parameters;
  width: 100%
  }

.tabs {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  
}

.tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #ccc;
  
}


.tab:hover {
  background-color: #bbb;
}

.tab.active {
  background-color: #729599;
  color: white;

}

.input-container {
  display: flex;
  justify-content:space-between;
}

input[type=range] {
  width: 80%; /* Adjust the width as needed */
}

.tab-content {
  display: grid;
  padding: 1rem;
  grid-auto-rows: auto;
}









